

body{
    background-color: lightblue;
    margin: 20px;
    width: 1450px;
    padding: 20px;
}

div#head {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: darkgray;
    padding: 20px;
}
.test{
    color:white;
    text-align: center;
    text-size:20;
    margin-left: 10px;
}
.test2{
    color:white;
    text-align: center;
    text-size:25px;
}
a button{
    background-color: black;
}
article{
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    color: black;
}
h1{
    font-size:30px;
    font-family:tahoma;
    text-align:center;
    color:white;
}
h2{
    font-size:3px;
    font-family:cursive;
    text-align:center;
    color:black; 
}
form{
    font-size: 20px;
    font-family: tahoma;
    text-align: center;
}
form2{
    text-align: right;
}

P1{
    font-size:25px;
    font-family:cursive;
    text-align:center;
    color: black;
}